<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/styles/style1.css">
</head>
<body>
    <h1>Login</h1>
    <form action="/loginsubmit" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <% if(alertmessage) { %>
         <script>
            alert('<%- alertmessage %>');
         </script>
    <% } %>
</body>
</html>
